.titleHomeStyle {
  background-image: url("../../../../public/images/pexels-thisisengineering-3862130\ \(1\).jpg");
  background-attachment: fixed;
}
.titleStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  height: 200px;
}
.titleStyle h2 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  color: #888b7f;
  text-transform: uppercase;
}
.titleStyle h1 {
  text-align: center;
  font-size: 45px;
  margin: 20px 0;
  color: #888b7f;
  text-transform: capitalize;
}
