.headerStyles {
  background-color: #fff;
  top: 0;
  z-index: 99;
  box-shadow: 5px 5px 5px rgb(216, 233, 239);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  position: relative;
  margin: 27px 30px;
  border-radius: 7px;
}
