.addCourse {
  background-color: #3b76ef;
  border: 1px solid #3b76ef;
  color: #fff;
  display: flex;
  padding: 11px 23px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30%;
  margin: 0;
}
.lessonStyles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.inputAdd {
  display: grid;
  flex-direction: row;
  grid-template-columns: 200px 200px;

  padding: 10px;
  align-items: center;
}

.inputAdd input {
  border-radius: 5px;
  border: 0.5px solid black;
  min-height: 25px;
  min-width: 100px;
}
.inputAdd textarea {
  border-radius: 5px;
  border: 0.5px solid black;
  min-height: 25px;
  min-width: 100px;
}
