.registerBack {
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerBackground {
  background-image: url("../../../../public/images/pexels-timson-foox-2182863.jpg");
  height: 100vh;
}
.registerPanel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  min-height: 400px;
  width: 540px;
  background: #fffdfd;
  border-radius: 8px;
  max-width: calc(100vw - 32px);
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.registerTitle {
  width: 100%;
  color: #292929;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 0;
}
.registerEmail {
  display: block;
  width: 318px;
  font-weight: 600;
  margin: 10px 0 0 8px;
}
.registerPassword {
  display: block;
  font-weight: 600;
  margin: 10px 0 0 8px;
  width: 318px;
}
.registerInput {
  background-color: #f1f1f2;
  border: none;
  display: block;
  flex: 1 1;
  font-size: 1rem;
  outline: none;
  padding: 0px 20px;
  border-radius: 100px;
  background: rgba(22, 24, 35, 0.06);
  border: 1px solid rgba(22, 24, 35, 0.06);
  height: 44px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 85%;
}
.registerEmailPassword {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registerButton {
  background-color: #1dbfaf;
  color: black;
  margin-top: 10px;
  border-radius: 44px !important;
  height: 44px;
  margin-top: 20px;
  width: 100%;
  padding: 0px 30px;
  width: 200px;
  margin-bottom: 25px;
}
.registerConfirm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.registerConfirmInput {
  background-color: #f1f1f2;
  border: none;
  display: block;
  flex: 1 1;
  font-size: 1rem;
  outline: none;
  padding: 0px 20px;
  border-radius: 100px;
  background: rgba(22, 24, 35, 0.06);
  border: 1px solid rgba(22, 24, 35, 0.06);
  height: 44px;
  overflow: hidden;
  margin-bottom: 10px;
  width: 150px;
  margin-top: 10px;
}
.error_msg,
.success_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}
