.containerMenu {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: unset;
  margin-right: 15px;
  gap: 20px;
  width: 100%;
}
.itemMenu {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  color: black;
}
.itemMenu li {
  display: flex;
  margin-left: 10px;
  height: 50px;
  align-items: center;
}
.itemMenu li:hover {
  cursor: pointer;
}
.itemMenu a {
  color: #000000;
}

.itemMenu a:hover {
  list-style-type: none;
  color: #1eb2a6;
}
